In [75]:
import numpy as np
import pandas as pd
import geopandas as gpd
import gegravity as ge
import gme as gme

In [76]:
tesselation = gpd.read_file(r"C:\Work\research\migration\data\kentucky.shp")

In [77]:
puma_pop = pd.read_csv("data/ACS_2018.csv")[["Total Population", "PUMA", "Population Density (Per Sq. Mile)"]]
puma_pop["PUMA"] = puma_pop["PUMA"].astype(str).str.zfill(7) + "1"
puma_pop = puma_pop.set_index("PUMA")

migpuma_pop = pd.read_csv("data/ACS_MIGPUMA_2018.csv")[["Total Population", "MIGPUMA", "Population Density (Per Sq. Mile)"]]
migpuma_pop["MIGPUMA"] = migpuma_pop["MIGPUMA"].astype(str).str.zfill(7) + "2"
migpuma_pop = migpuma_pop.set_index("MIGPUMA")

In [78]:
pops = pd.concat([puma_pop, migpuma_pop])
pops

          Total Population  Population Density (Per Sq. Mile)
01001001            184923                         223.027706
01002001            196618                         237.132544
01003011            133112                        1459.688320
01003021            101737                        1634.875764
01004001            123121                         148.490962
...                    ...                                ...
72009002            280389                        2368.796946
72010012            124434                        2123.351305
72010022            156149                        1104.590447
72011012            116274                         559.581731
72011022            108963                         718.583647

[3383 rows x 2 columns]

In [79]:
temp = pd.read_csv("data/ACS_MIGPUMA_2018.csv")

In [80]:
distances = pd.read_csv("data/ky_distances.csv").set_index("Unnamed: 0")
distances.index = distances.index.astype(str)
distances.columns = distances.columns.map(str)
distances

,2100100,2100200,2101500,2100300,2101400,2100600,2101100,2100700,2102000,2101200,...,2102400,2101704,2101705,2101703,2101702,2101701,2101706,2100400,2101300,2100500
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2100100,0.00,128602.43,258734.41,126902.05,195277.61,392467.97,636886.19,468036.66,401704.97,351593.47,...,515732.03,377508.59,359650.22,390651.19,373048.44,371932.91,365094.41,284452.84,284741.53,263705.00
2100200,128094.45,0.00,125173.72,86030.45,69663.48,289134.91,533553.13,364703.59,298371.91,248260.44,...,412398.97,274175.56,256317.17,287318.13,269715.41,268599.84,261761.34,181119.78,181408.47,160371.95
2100300,126578.13,58617.02,171671.47,0.00,109016.95,249084.45,549823.25,324653.16,314642.03,264530.56,...,428669.09,290445.69,272587.28,303588.25,285985.53,284869.97,278031.47,144844.64,197678.58,124096.83
2101400,195392.77,69954.38,57157.74,109186.70,0.00,261098.88,505884.09,336667.56,270702.88,220591.41,...,359733.94,240059.03,222200.66,239771.81,224520.20,218620.70,205820.06,153083.75,148541.92,132335.92
2101500,260170.83,126846.37,0.00,174022.77,54161.12,253089.14,497742.44,328657.84,262693.16,212581.67,...,313768.28,180123.27,162264.89,193806.17,178554.56,172655.06,145884.28,145074.02,88606.16,124326.20
2100600,392098.03,288904.69,249463.69,248487.59,260527.94,0.00,290720.53,85067.38,141398.98,85288.09,...,281066.66,166296.38,162735.28,179438.94,176133.50,175017.95,168179.45,98922.03,147788.73,120600.16
2100700,469766.25,366572.94,327131.91,326155.84,338196.19,86554.02,249020.28,0.00,142072.20,165788.33,...,256310.44,215343.94,213769.89,220363.14,224504.81,236585.77,229156.38,176590.27,228897.59,198268.39
2100800,517901.34,414708.00,375267.00,374290.91,386331.25,134689.09,189691.56,90495.23,154518.41,178234.53,...,242941.05,240343.38,253187.98,245362.58,249504.25,261585.20,268574.47,224725.34,262247.75,246403.47
2100900,570962.25,467768.94,428327.91,427351.84,439392.19,187750.02,195593.31,143556.16,207547.05,231263.17,...,295969.69,293372.03,306216.63,298391.22,302532.91,314613.84,321603.09,277786.28,315276.38,299464.41
2101000,602198.88,499005.50,459932.03,465470.63,470996.28,225868.80,94591.66,181674.94,213544.47,269414.25,...,271982.06,269384.41,282229.00,274403.59,278545.25,290626.22,297615.47,315905.06,352909.13,337583.19
2101100,635610.75,532417.44,493343.94,549462.69,504408.22,293437.16,0.00,249243.28,246956.41,317502.72,...,305394.00,302796.31,315640.94,307815.53,311957.19,324038.16,331027.41,383473.41,386321.03,405151.53
2101690,396741.91,293548.56,215864.44,310593.84,258506.00,168295.06,286614.91,197290.58,60610.16,95613.68,...,126569.77,29221.04,42065.64,34240.24,38381.91,50462.86,57452.12,198125.75,126582.10,209957.05
2101700,364983.97,261790.64,168934.56,278835.91,233781.39,171230.83,312418.00,215459.56,86413.24,72268.41,...,145463.84,23541.27,7448.31,18950.38,10546.95,17838.67,21098.03,166367.83,95107.02,178199.11
2101900,434319.47,331126.13,292052.63,348171.41,303116.91,148206.19,198637.27,146006.48,45665.08,116211.41,...,117200.30,114602.63,127447.23,119621.84,123763.51,135844.45,142833.72,235703.31,185029.73,247534.59
2102000,399621.28,296427.97,257354.45,313473.22,268418.72,141000.55,247279.22,141348.73,0.00,81513.23,...,148039.17,77904.71,90749.31,82923.91,87065.59,99146.53,106135.80,201005.14,150331.55,212836.42
2102100,418555.25,315361.91,276288.41,332407.19,287352.69,98181.89,234608.92,84479.78,59745.50,85252.31,...,180818.38,133017.23,133233.88,138036.44,142178.11,154259.06,148620.36,198375.61,169265.52,220053.73
2102200,495472.31,392278.97,353205.47,409324.25,364269.72,175806.13,173573.28,131612.27,106817.93,146272.48,...,171496.52,168898.84,181743.45,173918.05,178059.72,190140.67,197129.94,265842.38,246182.58,287520.50
2102300,463867.25,360673.94,321600.44,377719.19,332664.69,205246.52,201121.95,177144.69,75212.88,145759.20,...,117638.83,133857.89,146702.50,138877.09,143018.77,155099.72,162088.97,265251.13,214577.53,277082.41
2102400,517710.47,414517.13,307165.16,431562.41,349806.72,281237.88,305814.00,256933.98,148438.17,216582.23,...,0.00,150189.59,163034.20,132357.61,142872.25,150379.47,178420.67,319094.31,247550.66,330925.59
2102500,520470.34,417277.00,309925.03,434322.28,352566.59,289202.34,313778.47,264898.44,156402.64,219342.11,...,22455.99,152949.47,165794.08,135117.50,145632.14,153139.34,181180.56,321854.19,250310.53,333685.47
2102600,499183.53,395990.22,288638.25,413035.47,331279.81,252683.58,277259.69,228379.67,119883.87,193196.25,...,41628.77,131662.69,144507.28,113830.70,124345.35,131852.56,159893.77,300567.41,229023.75,312398.69
2102700,535232.13,432038.78,392965.31,449084.06,404029.56,260166.58,162262.94,215972.72,146577.75,217124.08,...,141682.34,202417.67,215262.28,207436.88,211578.55,223659.50,230648.75,336615.97,285942.41,348447.28
2102800,596830.75,493637.41,454563.91,510682.66,465628.16,321765.19,102672.77,277571.31,208176.36,278722.69,...,198240.25,264016.28,276860.88,269035.47,273177.16,285258.09,292247.34,398214.59,347541.00,410045.88
2100400,284793.22,181599.89,142158.88,144883.11,153223.14,98895.08,380116.94,174463.78,201209.27,128695.78,...,315236.34,177012.91,159154.53,190155.48,172552.75,171437.20,164598.70,0.00,136732.81,23514.84
2100500,263936.25,160742.94,121301.92,124026.15,132366.17,121026.67,402248.53,196595.38,213478.81,140965.33,...,327505.91,189282.45,171424.08,202425.03,184822.30,183706.75,176868.25,23485.33,104298.30,0.00
2101290,299806.03,196612.70,157539.22,213657.98,168603.47,107979.89,347410.81,187461.19,112229.59,62118.12,...,221262.72,83039.29,65180.91,96181.87,78579.13,77463.58,59658.47,104181.92,40703.93,116013.20

In [81]:
df = pd.read_csv("data/psam_p21.csv")
df

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2018GQ0000127,6,1,1800,3,21,1013097,64,35,...,59,14,63,14,17,15,14,61,66,61
1,P,2018GQ0000184,6,1,1300,3,21,1013097,176,35,...,174,29,186,356,162,306,344,24,165,178
2,P,2018GQ0000237,6,1,2300,3,21,1013097,12,21,...,12,2,14,23,24,22,14,12,12,2
3,P,2018GQ0000289,6,1,800,3,21,1013097,69,82,...,139,135,67,70,134,5,71,7,5,68
4,P,2018GQ0000306,6,1,2200,3,21,1013097,46,18,...,44,7,45,84,79,80,47,44,43,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45470,P,2018HU1400701,6,1,2300,3,21,1013097,66,49,...,80,20,67,17,19,25,21,98,70,46
45471,P,2018HU1400701,6,2,2300,3,21,1013097,105,50,...,88,19,72,21,41,41,35,149,111,140
45472,P,2018HU1400701,6,3,2300,3,21,1013097,44,6,...,54,11,34,10,12,17,17,57,52,38
45473,P,2018HU1400802,6,1,2800,3,21,1013097,77,82,...,139,82,85,76,23,103,146,69,90,98
45474,P,2018HU1400920,6,1,100,3,21,1013097,74,47,...,126,74,30,108,83,181,81,35,79,35

In [82]:
df["MIGPUMA"] = df["MIGPUMA"].fillna(0)
df["MIGSP"] = df["MIGSP"].fillna(0)
df["MIGPUMA"] = df["MIGSP"].astype(int).astype(str).str.zfill(2) + df["MIGPUMA"].astype(int).astype(str).str.zfill(5)
df["PUMA"] = df["ST"].astype(str).str.zfill(2) + df["PUMA"].astype(str).str.zfill(5)
df[["MIGPUMA", "PUMA"]]

       MIGPUMA     PUMA
0      2603000  2101800
1      1601190  2101300
2      0000000  2102300
3      2100800  2100800
4      0000000  2102200
...        ...      ...
45470  0000000  2102300
45471  0000000  2102300
45472  0000000  2102300
45473  0000000  2102800
45474  0000000  2100100

[45475 rows x 2 columns]

In [83]:
df[df["AGEP"] >= 18]

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2018GQ0000127,6,1,2101800,3,21,1013097,64,35,...,59,14,63,14,17,15,14,61,66,61
1,P,2018GQ0000184,6,1,2101300,3,21,1013097,176,35,...,174,29,186,356,162,306,344,24,165,178
2,P,2018GQ0000237,6,1,2102300,3,21,1013097,12,21,...,12,2,14,23,24,22,14,12,12,2
3,P,2018GQ0000289,6,1,2100800,3,21,1013097,69,82,...,139,135,67,70,134,5,71,7,5,68
4,P,2018GQ0000306,6,1,2102200,3,21,1013097,46,18,...,44,7,45,84,79,80,47,44,43,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45469,P,2018HU1400660,6,2,2100200,3,21,1013097,46,73,...,13,52,86,45,18,40,38,13,46,18
45470,P,2018HU1400701,6,1,2102300,3,21,1013097,66,49,...,80,20,67,17,19,25,21,98,70,46
45471,P,2018HU1400701,6,2,2102300,3,21,1013097,105,50,...,88,19,72,21,41,41,35,149,111,140
45473,P,2018HU1400802,6,1,2102800,3,21,1013097,77,82,...,139,82,85,76,23,103,146,69,90,98
45474,P,2018HU1400920,6,1,2100100,3,21,1013097,74,47,...,126,74,30,108,83,181,81,35,79,35

In [84]:
# all migrations within Kentucky to Kentucky
df = df[df["AGEP"] >= 18]
df = df[(df["MIGPUMA"].isin(list(distances.index.astype(str))))]
df

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
3,P,2018GQ0000289,6,1,2100800,3,21,1013097,69,82,...,139,135,67,70,134,5,71,7,5,68
8,P,2018GQ0000475,6,1,2102200,3,21,1013097,121,19,...,120,115,126,120,116,17,19,18,114,19
9,P,2018GQ0000520,6,1,2100500,3,21,1013097,62,19,...,58,113,114,9,10,109,66,9,108,59
10,P,2018GQ0000533,6,1,2101901,3,21,1013097,88,19,...,158,153,14,89,85,151,13,84,80,164
14,P,2018GQ0000676,6,1,2100500,3,21,1013097,73,19,...,73,130,142,10,12,128,74,12,129,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45447,P,2018HU1399907,6,2,2101702,3,21,1013097,67,29,...,65,71,19,20,120,105,19,68,111,64
45452,P,2018HU1400139,6,1,2101600,3,21,1013097,105,59,...,35,108,110,30,98,176,32,34,181,28
45457,P,2018HU1400336,6,1,2101901,3,21,1013097,105,34,...,26,84,118,32,106,28,239,190,109,109
45458,P,2018HU1400336,6,2,2101901,3,21,1013097,88,33,...,27,82,90,27,91,22,165,172,78,111
45461,P,2018HU1400346,6,1,2101100,3,21,1013097,107,29,...,31,25,152,252,110,29,69,91,29,191

In [85]:
df["PUMA"] = df["PUMA"] + "1"
df["MIGPUMA"] = df["MIGPUMA"] + "2"

In [86]:
df["filler"] = 0

In [87]:
puma_migpuma = pd.read_excel("data/puma_migpuma.xlsx", dtype="str")
puma_migpuma["PUMA"] = puma_migpuma["State"] + puma_migpuma["PUMA"] + "1"
puma_migpuma["MIGPUMA"] = puma_migpuma["State"] + puma_migpuma["MIGPUMA"] + "2"
puma_migpuma = puma_migpuma.set_index("PUMA")
puma_migpuma.head()

         State   MIGPUMA
PUMA
01001001    01  01001902
01002001    01  01002902
01003011    01  01002902
01003021    01  01002902
01004001    01  01004002

In [88]:
migration_matrix = df.groupby(["MIGPUMA", "PUMA"])["filler"].count().reset_index()
migration_matrix

      MIGPUMA      PUMA  filler
0    21001002  21001001     124
1    21001002  21002001       5
2    21001002  21003001       1
3    21001002  21005001       1
4    21001002  21006001       2
..        ...       ...     ...
407  21028002  21022001       1
408  21028002  21023001       2
409  21028002  21026001       1
410  21028002  21027001       5
411  21028002  21028001      67

[412 rows x 3 columns]

In [89]:
distances.index = distances.index + "2"
distances.columns = distances.columns + "1"

In [90]:
migration_matrix["distance"] = 0
for i, row in migration_matrix.iterrows():
    migration_matrix.loc[i, "distance"] = distances.loc[row["MIGPUMA"], row["PUMA"]]

In [91]:
migration_matrix["year"] = 2018
migration_matrix["internal"] = np.where(migration_matrix["distance"] == 0, 1, 0)

In [92]:
migration_matrix["pop_orig"] = pops.loc[list(migration_matrix["MIGPUMA"].values), "Total Population"].values
migration_matrix["pop_dest"] = pops.loc[list(migration_matrix["PUMA"].values), "Total Population"].values

In [93]:
migration_matrix["dens_orig"] = pops.loc[list(migration_matrix["MIGPUMA"].values), "Population Density (Per Sq. Mile)"].values
migration_matrix["dens_dest"] = pops.loc[list(migration_matrix["PUMA"].values), "Population Density (Per Sq. Mile)"].values

In [94]:
migration_matrix

,MIGPUMA,PUMA,filler,distance,year,internal,pop_orig,pop_dest,dens_orig,dens_dest
0,21001002,21001001,124,0.00,2018,1,196280,196280,236.724897,236.724897
1,21001002,21002001,5,128602.43,2018,0,196280,107986,236.724897,130.237287
2,21001002,21003001,1,126902.05,2018,0,196280,107294,236.724897,129.402695
3,21001002,21005001,1,263705.00,2018,0,196280,131264,236.724897,242.308041
4,21001002,21006001,2,392467.97,2018,0,196280,104582,236.724897,126.131868
...,...,...,...,...,...,...,...,...,...,...
407,21028002,21022001,1,169588.25,2018,0,130394,116956,157.262616,141.055620
408,21028002,21023001,2,151261.94,2018,0,130394,140429,157.262616,169.365399
409,21028002,21026001,1,238604.39,2018,0,130394,162748,157.262616,196.283388
410,21028002,21027001,5,87076.81,2018,0,130394,138157,157.262616,166.625237
411,21028002,21028001,67,0.00,2018,1,130394,130394,157.262616,157.262616

In [95]:
migration_matrix = pd.merge(migration_matrix, migration_matrix.groupby("MIGPUMA")["filler"].sum(), left_on="MIGPUMA", right_index=True, how="left")

In [97]:
migration_matrix.to_csv("ky_grav_data.csv")